* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Style for nav bar */
.nav-bar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  max-width: 165.988rem;
  width: 90%;
  margin: 8.28rem auto 0;
}

.nav-links li {
  font-size: 3.6rem;
  margin-left: 7.5rem;
  color: #c1ccf4;

}

a {
  text-decoration: none;
  color: #c1ccf4;
}

.logo {
  width: 8.655rem;
  height: 8.655rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
}